[2016-08-29 00:22] PrasadHonrao opened #2 "SampleUserControlLibrary project missing"
LUISAPI-WPF-Samples solution has a reference to SampleUserControlLibrary project, which is not available in the current code base.

[2016-08-29 04:31] ManishChitre commented on #2
Yes, LUISAPI-WPF-Samples solution has a reference to SampleUserControlLibrary project and is missing.

[2016-08-29 05:17] heshamelbaz commented on #2
Will check the reference as soon as possible, thank you.

[2016-08-29 08:34] heshamelbaz commented on #2
Sorry for not including this in the readme file, but the project depends on a submodule, so in order to clone the repository with the submodules you'll have to use:
`git clone --recursive  https://github.com/Microsoft/Cognitive-LUIS-Windows.git`

Will update the readme file accordingly.

[2016-08-29 08:34] #2 closed

[2016-08-30 13:30] b4usat opened #3 "SampleUserControlLibrary Doesn't exists when downloaded"
Hi I tried downloading the zip file and when open the solution, it shows Project cant be loaded in SampleUserControlLibrary. Please fix this

[2016-08-30 13:38] #3 closed

[2016-09-09 16:07] sunilpottumuttu opened #6 "Sample Does not include How to Use IntentHandler"
Downloaded the SDK and Samples . The samples does not include How to use IntentHandler but readme.md says it is included.

[2016-09-09 16:11] sunilpottumuttu opened #7 "IntentHandler doesnot work for asp.net MVC"
The IntentHandler does not work in asp.net MVC application. The code will deadlock
For all the async operations add ConfigureAwait(false); Please see the below URL
http://blog.stephencleary.com/2012/07/dont-block-on-async-code.html

[2016-09-09 16:37] heshamelbaz commented on #7
@ahmkel please resolve that

[2016-09-15 11:56] xuren87 opened #9 "Can not find SampleUserControlLibrary project"
Hi ,
I run the sample project but got an error, because can not find the SampleUserControlLibrary  project, do you miss it ?

[2016-09-15 14:52] cthrash commented on #9
I believe this is the same issue as https://github.com/Microsoft/Cognitive-LUIS-Windows/issues/2

[2016-09-15 14:52] #9 closed

[2016-09-21 04:55] ChuckkNorris opened #11 "Null Reference Exception if result["topScoringIntent"] doesn't exist"
In `LuisResult.Load()`, if `JToken result["topScoringIntent"]` does not exist (which it did not in my case - not sure why), `Intent.Load()` will throw a null reference exception.

`LuisResult.Load()` requires a null check of the `topScoringIntent`:
[code]

[2016-09-22 01:46] ChuckkNorris commented on #11
Update: The root cause was that the app had not been published yet - perhaps a better solution would be to throw an exception stating that the "LUIS App need to be published".

[2016-09-27 08:56] loretoparisi opened #12 "XamarinStudio support"
I have tried to run the project in `Sample/` in Xamarin, but it seems that this project is VisualStudio only. Is it possibile to add a Xamarin iOS/Droid or just a SharedLibrary example? It would make a lot of sense as for the new .NET standard library xamarin integration!

Thank you

[2016-09-29 02:20] tachyons commented on #11
topScoringIntent will be present only if you are using preview mode , it does not exist in production

[2016-09-29 02:30] ChuckkNorris commented on #11
@tachyons Negative - it does exist. As stated, after I published my LUIS App, the `topScoringIntent` was populated just fine. The issue is that the LUIS C# SDK will throw a null reference exception if the app isn't published rather than notifying the developer that the app needs to be published first.

[2016-10-11 15:57] SKApretto71 opened #13 "SDK usage with Azure standard pricing tier"
I'm using the SDK since some time now with no issue.
I created a few Applications on luis.ai and I'm accessing using AppId and AppKey as per luis.ai site.

I'm now moving into a S0 paid subscription for LUIS on Azure portal, hence I replaced former "AppKey" with the new "Key" value found on Azure Portal. Doing so, I'm getting a request to authenticate myself (if exercising from a browser) or a cod

[2016-10-11 16:06] SKApretto71 commented on #13
Cancel this comment. The solution belongs in old documentation found on luis.ai . The page refers to "_Once you have created your key, you can add it to your account via the application settings dialog, found in **any application**_." while the Azure Key need to be added in the **User Profile** dialog page.

Found it, now works as expected

[2016-10-13 11:28] #13 closed

[2016-10-27 13:10] Ahmkel commented on #11
Fixed in latest commit

[2016-10-27 13:10] #11 closed

[2016-10-27 13:11] Ahmkel commented on #7
Fixed on latest commit

[2016-10-27 13:11] #7 closed

[2016-10-27 13:12] Ahmkel commented on #6
Added in latest commit

[2016-10-27 13:12] #6 closed

[2016-10-27 14:12] Ahmkel commented on #12
Unfortunately, this is not currently in our plans.
We will update you if we add it to the plans in the future.
Thanks.

[2016-10-27 14:12] #12 closed

[2016-10-28 09:21] loretoparisi commented on #12
@Ahmkel by the way what I'm doing right now is to use Cognitive `LUIS` via node `Botframework` sdk, and to test it, since we mostly use `macOS` to developer, I'm using `BFEmulator.exe` via `mono` - see https://github.com/Microsoft/BotBuilder/issues/558

So at the end I access `LUIS` in this way :)

[2016-11-14 12:45] piffarettig opened #14 "Is Luis right for this problem?"
I'm building a fintech banking bot by using Bot Framework and by understanding user intents via LUIS.

And now I'm currently facing the following problem: some user inputs that may refer to the same thing could differ in the way of being written. But they re not intents that refer to actions, they are just differente ways of naming same entities. For instance, if the user wants to refer to the ent

[2016-12-01 03:52] taiki-yoshida commented on #14
You can use entity instead. By highlighting all the words you mentioned in the example as a credit card entity, LUIS will respond back with intent + entity as credit card

[2016-12-01 03:55] taiki-yoshida commented on #14
Further to add on, as "credit" and "card" are two separate words when queried with Luis, I also suggest you to use the phrase list feature and add those words so that it will detect credit card as one word and not two words.

[2016-12-15 09:01] JPThorne opened #17 "Max number of utterances per LUIS app/intent"
Hi there,

We're in the process of developing a bot for the Fintech sector. We're using LUIS and the MS Bot framework. A question we have at the moment is - is there a maximum number of utterances that LUIS can handle per app/per intent? We'd like to train our models very thoroughly, well, in the range of a thousand or so utterances per intent at the moment & we are concerned that we might overloa

[2016-12-19 07:17] Masssluis opened #18 "how to use bing spell checker in luis?"
I am using LUIS and as in the documentation i have enabled spell checker and added the key.
i have got the key after registering in cognitive services of bing spell checker. @msftdata @msftgits
![capture1](https://cloud.githubusercontent.com/assets/22141654/21304232/b0594f78-c5e9-11e6-89da-dd3a3c618a51.PNG)

[2017-01-04 13:14] #17 closed

[2017-01-04 13:15] JPThorne commented on #18
As I understand it that should be good enough. Have you tried testing it with some misspelled utterances?

[2017-01-04 13:19] JPThorne opened #19 "Additional properties missing on LUIS prediction result via Api in SDK"
Hi there. So we've enabled Bing spellchecker, and it seems to be working well. The json for a test looks like this:

[code]

That's all good and well, but we'd like the ability to access the alteredQuery prop as well, in our c# code. At the moment the LuisResult returned by a call to LuisClient.Predict does not return the alteredQuery prop in any way, only the OriginalQuery, & some others.

Is the

[2017-01-09 13:16] JPThorne opened #20 "MS LUIS.ai | Our app stopped returning matches for some entities"
So we have a luis app with the intent RequestFundFact, and we have the hierarchical entities Fund and FundFact used in several utterances mapped to this intent.

Our calls to the endpoint were returning correct results for queries such as "give me the investor profile for the managed fund", which return something like:

RequestFundFact/0.9936668. Entities: Fund, managed fund; FundFact: investor pr

[2017-01-10 01:21] abhishan commented on #14
The number of entities that can be defined in LUIS is **limited to only 10 entities**. I have not seen any limits for the intents though. Do you know if this has now changed?

[2017-01-17 11:39] abhishan opened #21 "LUIS Stopped Working"
When trying to publish a LUIS App, its throwing the following error:
"An item with the same key has already been added."

Do we need to have a separate azure metered key for each LUIS app?

[2017-01-20 08:11] abhishan commented on #21
It is working now!

[2017-01-20 08:11] #21 closed

[2017-01-27 10:40] Masssluis commented on #18
same issue with me also , i have also done the same , but it does not seems to be working

[2017-01-27 10:42] JPThorne commented on #18
Perhaps worth mentioning - I noticed it only really kicks in on longer utterances. Single misspelled words don't get auto-corrected. But with a longer sentence that contains misspelled words then the auto-correct works.

[2017-02-06 08:33] singhsurya opened #22 "Not able to open www.luis.ai website."
Hi,

I am facing issue in opening LUIS Website. It hangs right on the account login page with message - Please wait a few moments... Initializing. Is there some issue in LUIS or I am missing something?. We have tried it on latest IE and chrome version but nothing helped.

[2017-02-14 12:59] Kothakapu opened #23 "LUIS returns 401 Unauthorised with Azure portal generated subscription key"
Hi Team,

I'm getting 401 (Access denied due to invalid subscription key) error when I'm trying to access LUIS Programmatic API. I'm testing this in Luis API console.

Please help me out on this.

[2017-03-03 10:06] brendanarnold opened #25 "Missing SampleUserControlLibrary in the sample Solution"
I get a load failed for the referenced library meaning the sample cannot be run out of the box and cannot find any files that might correspond in the respository. Was this missed from the Git commit?

To replicate, clone the project into a fresh directory and try to open and run the sample app.

[2017-03-03 15:34] cthrash commented on #25
Please take a look at https://github.com/Microsoft/Cognitive-LUIS-Windows/issues/2.

[2017-03-04 10:17] brendanarnold commented on #25
Ah ok - thanks, I missed that

[2017-03-04 10:17] #25 closed

[2017-03-06 12:55] FlowWithCaptainJack opened #26 "how to get composite entity?"
I have  got  simple entity from LuisClient.Predict. Is  there any way to get the  composite entity?Can  you show me the way to do that

[2017-03-07 03:19] FlowWithCaptainJack commented on #26
i find a way to solve this ,at this site:https://dev.projectoxford.ai/docs/services/5890b47c39e2bb17b84a55ff/operations/5890b47c39e2bb052c5b9c23/console.
But how do i get the entityId ? can you show me the way to complete it

[2017-03-07 03:21] FlowWithCaptainJack commented on #26
Microsoft.Cognitive.LUIS.Entity have many properties,except the entityId.I  can  not find a good way  to get entityId

[2017-03-09 15:48] brendanarnold opened #27 "Guidance on parsing the resolution of the builtin.datetime.duration entity"
I get an entity of type `builtin.datetime.duration` returned corresponding to 'last week'. This is resolved to 'P1W' which I assume means 'past one week' however I don't know for sure and I can't seem to find docs detailing what other values are possible.

Is there existing code to parse this into usable .NET `DateTime` objects? Or a guide on how to interpret the returned strings?

[2017-03-10 14:26] daveh101 opened #28 "builtin.x object parsing"
It would be really useful to have a way to parse builtin objects such as number, ordinals etc to the actual type they represent.

builtin.ordinal::first = 1
etc

[2017-03-20 12:08] JPThorne opened #29 "Bug or Feature MIA | Import utterances endpoint"
The old version of the LUIS console used to have an "import utterances" function. The new console does not seem to have this function anymore.

In addition, the API (I think) used to have this option, but now it does not seem to be there.

Am I missing something, or is this a feature that is being added back-in at a later stage?

[2017-03-27 05:18] alokraj68 commented on #18
@JPThorne would be great if you could give an example occurrence.

[2017-03-27 07:43] JPThorne commented on #18
@alokraj68

Here's an example of a long utterance with the corrected, altered, query returned by querying the endpoint of our published app with the spellchecker option enabled:

[code]

[2017-03-27 07:57] alokraj68 commented on #18
@JPThorne
Can you show me your JSON? because it's still not clear to me. Bing spell checker not working for me until now.

[2017-03-27 08:21] JPThorne commented on #18
Ok well, so the following JSON is what we get when querying our endpoint:

https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/[APP_KEY]?subscription-key=[SUB_KEY]&timezoneOffset=0.0&verbose=true&spellCheck=true&q=waht is the pirce of hte core income funnd

[code]

and

https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/[APP_KEY]?subscription-key=[SUB_KEY]&timezoneOffset=0.0&verbose=t

[2017-03-27 08:30] alokraj68 commented on #18
@JPThorne
Tried same query and got this

[code]
Did not get any altered query :(

[2017-03-27 08:34] JPThorne commented on #18
Hmm okay, did you enable spell-check when publishing your app?
Did you purchase a Cognitive Services LUIS key in Azure and assign it to your app?

![image](https://cloud.githubusercontent.com/assets/1411816/24347504/d2854962-12d8-11e7-8f19-fca449a63514.png)

[2017-03-27 08:39] alokraj68 commented on #18
@JPThorne Did both, should I enable bing spell checker by adding external key?

[2017-03-27 08:45] JPThorne commented on #18
Yes I think you would need to do that.

![image](https://cloud.githubusercontent.com/assets/1411816/24347982/6b8c66f8-12da-11e7-97bc-8b0ecbb25da7.png)

[2017-03-29 03:43] xitij commented on #23
Bump. I'm seeing this as well. I've tested using Postman as well as the provided "testing api portal" both requests are identical, both fail with the same response.
[code]

[2017-03-29 18:11] xitij commented on #23
@Kothakapu I managed to resolve this issue finally. This SO [post](http://stackoverflow.com/questions/41603082/401-errors-calling-the-microsoft-luis-ai-programmatic-api) was helpful.
1) Go to www.luis.ai, and sign in.
2) Once signed in, click on the "My Keys" tab (right next to My Apps)
3) Use that key.

Hope that helps...

[2017-04-01 08:42] pushsos commented on #17
i found out to be 1000 is the max limit

[2017-04-01 08:42] pushsos opened #30 "Max number of utterances per intent"
I found out to be 1000, how do i extend it

[2017-04-12 04:12] KarateJB opened #31 "Response status code does not indicate success: 400 (Bad Request) on Azure"
When I calls LUIS api with the following code on Azure
`var ret = await lc.Predict(activity.Text);`

There is an error

But the LUIS api response correctly with  Bot framework Channel emulator or thru uri
`https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/{id}?subscription-key={key}&timezoneOffset=0.0&verbose=true&q=XXXX`

Here is my Cognitive Api setting in Azure
![](https://4.bp.blogspot

[2017-04-12 08:03] KarateJB commented on #31
My mistake, the LUIS api is ok after I correct the wrong LUIS APP id and key.

[2017-04-12 08:03] #31 closed

[2017-04-24 22:18] s-r-k opened #32 "Missing prebuilt entities"
Hi,
I found that the prebuilt entity for cities (builtin.geography) does not recognize "Bali" and a few other locations. What can I do about it?

[2017-04-26 14:11] narenkv opened #33 "Having issues with composite Entities"
![1](https://cloud.githubusercontent.com/assets/17287435/25438895/6d0c6e6a-2ab8-11e7-8601-db3b3c229d58.PNG)
![2](https://cloud.githubusercontent.com/assets/17287435/25438896/6d0f888e-2ab8-11e7-8737-eb3b99048793.PNG)

I am getting the error "Unable to deserialize the LUIS response." and surprisingly there are no samples provided for hierarchical and composite entities usage.

Also there is no docum

[2017-05-01 22:36] iamanas20 opened #34 "How Can I Enable This SDK!"
Hi, how exactly can I make this work in Visual Studio 2017?

[2017-05-09 12:08] mahmoudahmedarafa opened #35 "[LUIS] Can't add phrase list to my app"
I can't add phrase list to my app. The save button is not highlighting, although I am separating the entities by commas. [screenshot](https://postimg.org/image/xhabu58tn/)

What is the required field 'APP.FEATURE.PHRASELIST.MODAL.ADD.LABEL'?

[2017-05-10 07:38] felixhao28 commented on #23
@xitij Hi, I am also running into this problem. And I wonder what key did you use in "My Keys" tab? I tried both key1 and key2 in my Azure portal but none of them works.

[2017-05-10 15:14] xitij commented on #23
@felixhao28 Don't go to the Azure portal, go to the page I linked above.
1. Go to https://www.luis.ai/home/keys
2. Sign in
3. Use the key from the "Endpoint Keys" page.

[2017-05-11 02:12] felixhao28 commented on #23
@xitij But there is only a "BootstrapKey" available and message shows it will expire in 30 days.

[2017-05-11 04:19] xitij commented on #23
@felixhao28 Yeah there should be a "Programmatic API Key" there. That's the one you're looking for. I think you'll need to generate, or buy one then. I'm not actually sure how that's done.

[2017-05-17 19:58] guendas commented on #23
Did you try a key generated by the Azure Portal?
(Going to Azure Portal -> new service -> Cognitive Services -> LUIS)

[2017-05-18 04:47] felixhao28 commented on #23
Somehow it works now but not a week ago. I guess it probably needs some time for the key from Azure to propagate to LUIS portal. Thanks.

[2017-05-23 12:56] tsahi commented on #34
get it as a [package from nuget](https://www.nuget.org/packages/Microsoft.Cognitive.LUIS/), and use the API.

[2017-05-23 12:59] tsahi opened #36 "Where is this SDK going?"
This repository hasn't seen a commit in 8 months, while the LUIS service is moving forward. The API hardly covers a tiny bit of the features available from the LUIS web service. Should we expect this SDK to be developed, or should we make direct calls to the web service instead?

[2017-05-24 05:34] yescay commented on #18
The bing spell check API is a different API and in order to utilize it in LUIS intent, the following steps are required.

1. Set up External Key association
                          Get a Bing Spell API key from the cognitive services
2. Add it to the External Key association.
3. In the LUIS intent publishing screen, Select the 'Enable Bing spell checker'
4. When submitting the intent, if there i

[2017-05-25 13:31] AndreMantas opened #37 "DateTimeV2 support"
It seems that DateTimeV2 is not available in pt-br although it says [here](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/pre-builtentities ) that it is supported.

Any plans on this?

[2017-05-26 12:12] MahadevanAlagar commented on #23
Team,

Azure Subscription Keys are returning 401 error, but can use the LUIS Programmatic API Key, which works, but the access are limited. In order to higher number of request, using the Azure Subscription Keys will allow to change the pricing tier, for more number of requests, if required.

[2017-05-26 12:15] MahadevanAlagar commented on #20
Team,

Experiencing the same issue, in our app as well. The exact same text as is in the indent's utterances are not returning the same intent, instead resulted to another intents, even after multiple training and publish also.

How to make sure the prediction is more accurate?
Any insights to improve the accuracy will be much helpful.

[2017-05-26 12:20] MahadevanAlagar opened #38 "How to check, if Utterances are exists/not?"
How do we check, whether there are duplicates?
That is, a single Utterance is occurring in how many Indents.
Using with the C# windows SDK or any API end points.
Any other work around also much appreciated.

[2017-06-01 06:54] ne00346536 opened #39 "Destination IP details of LUIS server required"
Hi,

In my office network when i trying to connect to LUIS model URL getting time out error. We need destination IP details range along with port details of LUIS ,Having the same we will raise a firewall request in my office network to allow the traffic.

Request you please help me in this regard.

Thanks

[2017-06-06 07:01] tsahi commented on #19
There are two pull requests adding this as a property. It is yet to be seen if and when they are pulled to master.

[2017-06-06 07:43] tsahi opened #40 "Support Staging URL"
Please add support for Staging URL. It would help allot to run a dev version against the Staging URL, while the production version runs with the Production URL.

Staging URL is the one with an extra `staging=true` parameter.

[2017-06-10 17:26] sanjaydebnath commented on #23
Just make sure your domain is actually correct in your LuisModel Attribute. I faced the same issue and after some r&d found that Luis by default takes west US as domain if you don't provide the same. So make sure the domain is correct...

[code]

So if your service is hosted somewhere else make sure domain is correctly specified...

`[LuisModel("***", "***", domain: "eastus2.api.cognitive.microsof

[2017-06-10 17:36] sanjaydebnath commented on #23
Just make sure your domain is actually correct in your LuisModel Attribute. I faced the same issue and after some r&d found that Luis by default takes west US as domain if you don't provide the same. So make sure the domain is correct...

[code]
So if your service is hosted somewhere else make sure domain is correctly specified...

[code]

[2017-06-13 11:29] mahmoudahmedarafa opened #41 "[LUIS] Offline testing gives different results from endpoint url testing"
Here is my endpoint url testing result:

![endpoint testing](https://user-images.githubusercontent.com/22199398/27079639-bae13300-5038-11e7-97e4-6d25f91ec640.PNG)

And here is my offline testing result:

![offline testing](https://user-images.githubusercontent.com/22199398/27079684-ef9191e4-5038-11e7-9a98-e735175473cf.PNG)

They both test with the same sentence, so how could they produce different

[2017-06-16 18:57] megancooper opened #42 "[LUIS] Continuous Queue for Training"
I've been trying to train my luis application but every time I hit the train button it just says "Queued for training" continuously. Has microsoft found a fix for this bug?

[2017-06-22 23:14] KiransHub opened #43 "Reply does't take in 3 arguements"
This just doesn't want to work. When I try to download it either via github or zip files are missing. When I finally get it compiling. I get all sorts of errors from 400 Badly formed request to binding issues.

It just wont work for multiple reasons. What's going on?

[2017-06-22 23:22] KiransHub commented on #43
looks like some of this was caused by me not reading the readme properly! oops!

[2017-06-22 23:25] KiransHub commented on #43
Although I'm still getting an error that Reply does't take in 3 arguements on line 108 of UsingLUISClientDirectly (as before).

[2017-06-22 23:27] KiransHub commented on #43
When I try to remove the last parameter of Reply I get the following runtime errors:

Cannot bind to the target method because its signature or security transparency is not compatible with that of the delegate type.

[2017-06-23 02:16] kwill-MSFT commented on #23
See https://blogs.msdn.microsoft.com/kwill/2017/05/17/http-401-access-denied-when-calling-azure-cognitive-services-apis/ for all of the common causes and solutions for 401 Access Denied in Cognitive Services.

[2017-06-29 09:13] oleg-bronzhaiev commented on #31
My problem "400 (Bad Request)" was solved by publishing an app as "Production" Endpoint slot.

[2017-07-04 15:34] sdharshraj commented on #35
Same here i am also not able to update phrase list

[2017-07-05 16:24] allantargino opened #44 "Can't manage Applications"
The SDK doesn't implement the management of applications. Operations:

- Create applications: https://westus.dev.cognitive.microsoft.com/docs/services/5890b47c39e2bb17b84a55ff/operations/5890b47c39e2bb052c5b9c2f

- Delete applications: https://westus.dev.cognitive.microsoft.com/docs/services/5890b47c39e2bb17b84a55ff/operations/5890b47c39e2bb052c5b9c39

[2017-07-05 16:27] allantargino opened #45 "Implement Intent and utterances management"
The SDK doesn't implement the management of intents and examples. Operations:

- Add intention: https://westus.dev.cognitive.microsoft.com/docs/services/5890b47c39e2bb17b84a55ff/operations/5890b47c39e2bb052c5b9c0c
- Add label: https://westus.dev.cognitive.microsoft.com/docs/services/5890b47c39e2bb17b84a55ff/operations/5890b47c39e2bb052c5b9c08
- Add labels: https://westus.dev.cognitive.microsoft.co

[2017-07-05 16:29] allantargino opened #46 "Training and publishing applications"
The SDK doesn't implement application's training and publishing. Here are the service endpoints:

- Train a model: https://westus.dev.cognitive.microsoft.com/docs/services/5890b47c39e2bb17b84a55ff/operations/5890b47c39e2bb052c5b9c45
- Get training status: https://westus.dev.cognitive.microsoft.com/docs/services/5890b47c39e2bb17b84a55ff/operations/5890b47c39e2bb052c5b9c46
- Assign a key to an app:

[2017-07-05 16:43] mahmoudahmedarafa opened #47 "[LUIS] Response to user query"
I am using LUIS and Bot Framework (C# Bot Application). Sometimes I call LUIS from my app and don't get a response from LUIS (this happens when I start project without debugging), while I check for this issue in debug mode, I get the response (although it was the same query). What is the reason for this?

[2017-07-11 20:31] #47 closed

[2017-07-11 20:32] mahmoudahmedarafa opened #49 "[Question] Extracting entitites from Phrase List"
I have some hierarchical entity in my app (e.g. Breakfast Sandwiches), which more than 10 values (the allowed number of children for the hierarchical entity in LUIS app). What I understand is, you can use Phrase List (e.g. Breakfast PhraseList) so that LUIS model can detect the entities that are not children from the 'Breakfast' hierarchical entity; I created that Phrase List and the app can't rec

[2017-07-12 17:15] #41 closed

[2017-07-12 17:22] mahmoudahmedarafa commented on #35
@sdharshraj You can do a hard refresh in your browser (CTRL + F5) and it will work fine.

[2017-07-12 17:22] #35 closed

[2017-07-12 17:37] mahmoudahmedarafa opened #50 "[Question] Get the numeric value of an entity"
In the JSON response below:
![capture](https://user-images.githubusercontent.com/22199398/28130820-530fcb4e-6738-11e7-84fa-44525b709b22.PNG)

In the 'entities' array, there is a 'value' property inside the 'resolution' property; I tried to access that 'value' property from my C# code but it not shown to me, the only properties shown are shown in the image below:
![capture](https://user-images.gith

[2017-07-12 20:57] DanHibbert opened #51 "Unable to add Bing Spell Check"
When trying to add the bing spell check, the key value field is a dropdown so am unable to paste the azure key in.  This is for a bot created in eu.luis.ai.
Thanks in advance for helping

![luis_bing](https://user-images.githubusercontent.com/1837710/28139624-dced1ace-674c-11e7-81e3-fd723ef3f4b3.PNG)

[2017-07-18 08:10] NehaShaikh786 opened #52 "LUIS: how to specify the mandatory words in utterance? Is it possible by using phrase list features?"
## Issue Description
I am using phrase list features of LUIS. i am adding my mandatory words in my phrase list.(correct me if i am wrong)
For single mandatory word my intent works fine. But in my another intent i have 2 mandatory words in single intent which is not working fine.

##Behaviour
My phrase list- product: [moisturizer,anti wrinkle cream,laugh lines,anti aging skin treatment]
target area

[2017-07-25 20:20] #42 closed

[2017-07-27 19:53] maxxx580 commented on #35
when I hard refresh, it actually check sign-in status and redirect to luis homepage. still not be able to add more phrase list, though I have added the one in tutorial.

[2017-08-03 03:22] Wedeo95 opened #54 "LUIS cannot take care of special characters."
![image](https://user-images.githubusercontent.com/30614421/28904295-e821a672-785d-11e7-959f-4ca1a8b6381b.png)

[2017-08-07 16:04] tam203 opened #55 "No en-gb culture. Particularly problematic with DateTimeV2"
The lack of en-gb culture means we are using the us culture, however this doesn't work well for dates in the datetimeV2 method.

For example in the uk 01/02/17 would represent 1st of Feb 2017 but LUIS parses as 2nd Jan 2017.

[2017-08-10 13:49] dileepkantapop opened #56 "How to unable Enable bing spell checker in Luis?"
Hi Folks,

I am facing the issue with the spell checker option in LUIS, As i am checked it and published. When i see again its showing as unchecked. I had purchased Bing spell check key too.

Please help me with this...

Thank you...!!

[2017-08-11 10:44] dileepkantapop commented on #18
@JPThorne We had followed all these steps, but facing the issue with the spell checker option in LUIS, As i am checked it and published. When i see again its showing as unchecked. I had purchased Bing spell check key too.

https://github.com/gunthercox/ChatterBot/issues/922#issuecomment-321768404

[2017-08-16 07:19] Naveen-Yaragall opened #57 "Having Issue in adding the utterances"
![image](https://user-images.githubusercontent.com/31060636/29351367-0f42da60-8280-11e7-99b4-6736246fc900.png)

I'm getting the information message  whenever I add the new utterance and the utterance is not getting added. The message "Predicting utterance" pops up  but the utterance doesn't get added.
If we refresh the page it is directly taking to the sign-in page even though we are signed in.

[2017-08-22 04:42] rawatsudhir commented on #51
Same...Neither I able to select nor type in
![bingluis](https://user-images.githubusercontent.com/6231820/29548753-f6b6d082-8720-11e7-9dd7-e474d2fc63d3.png)

[2017-08-22 04:51] rawatsudhir commented on #51
Okay..got it working. One needs to add keys in MyKeys from the App and then use it while publishing the app. Refer below image
![correct1](https://user-images.githubusercontent.com/6231820/29549084-96281fac-8723-11e7-9991-e7024c40f4e4.png)

![correct2](https://user-images.githubusercontent.com/6231820/29549088-9d65387c-8723-11e7-98a0-610c88c063ee.png)

[2017-08-22 04:59] rawatsudhir commented on #56
Check here and I am sure it will help https://github.com/Microsoft/Cognitive-LUIS-Windows/issues/51

[2017-08-22 05:00] rawatsudhir commented on #18
Check here and I am sure it will help #51

[2017-08-22 05:08] dileepkantapop commented on #56
@rawatsudhir  i had followed these all steps, but no use...

[2017-08-22 05:13] rawatsudhir commented on #56
@dileepkantapop  Got it. Yes, it's switching back to default one. The behavior is same for "Add verbose flag "

Not sure if it's by design.

[2017-08-29 14:05] ellwoods commented on #35
I get the same, I've tried different browsers too, CTRL + F5 achieves nothing for me in Chrome or IE

[2017-08-29 14:31] maxxx580 commented on #35
@ellwoods I get this figured out. You need to have your mouse focus somewhere else and they will should up in the suggested field, though I forget exactly where.  It's a pretty tricky thing.

[2017-08-30 21:59] stevengum97 commented on #56
@dileepkantapop and @rawatsudhir, this is the current design. As long as you use the endpoint that had the settings you configured (e.g. disabling `spellCheck`, setting `verbose=false`) you will receive the results that match your settings.

[2017-08-31 07:09] premchandpl commented on #35
@maxxx580 I am having the same issue. I am not able to add phrase list. The save button id disabled. I tried in all 3 browsers and in all 3 browsers, the save button is disabled.

I cleared my cache, done ctrl+f5 and still the same issue. Let me know if there is any solution to this?

[2017-08-31 17:10] stevengum97 commented on #54
@Wedeo95, can you explain which special characters you're using?

[2017-08-31 18:13] premchandpl opened #58 "Facing issue with composite entities"
Hi

I am facing issues with composite entities. I have a utterance like this:
**get all contracts going to expire { [$datetimeV2 ]}** (Composite entity)
When I use the query: "get all contracts which are going to expire tomorrow", I am not getting composite entity in the response. I am just getting entity.

I am attaching the JSON response that I am getting from the LUIS

{
  "query": "get all con

[2017-09-05 07:13] tellarin commented on #54
Hi @Wedeo95, can you please provide more details?

[2017-09-06 04:33] stevengum97 commented on #58
@premchandpl, can you provide your LUIS App ID? If you are using the Bot Builder SDK, which language and version of the SDK are you using?

[2017-09-06 04:36] premchandpl commented on #58
@stevengum97 This is the LUIS App Id - https://www.luis.ai/applications/2da2e73c-a789-45d0-bb39-6623e7a05ade

[2017-09-14 20:42] premchandpl commented on #58
@stevengum97 Any updates on this. This is very crucial for us and the composite entities are not returning in the LUIS response.

[2017-09-19 04:49] premchandpl commented on #58
@stevengum97 We are using C# language with VS 2015 and the bot builder  version is - 3.9.1.0

[2017-09-20 17:29] stevengum97 commented on #58
@premchandpl sorry for the delay, just to verify, but does hitting the LUIS endpoint directly returns a composite entity? In your example utterance above, what is the composite entity that is supposed to be recognized? Is it just tomorrow?

[2017-09-20 17:35] stevengum97 commented on #58
@premchandpl, when I send queries to LUIS with only one child of a composite entity, only the child entity is returned, or in other words I'm experiencing the same behavior that you are.

Can you test an utterance with more than one of the Composite Entity's children?

[2017-09-20 17:38] stevengum97 commented on #57
Hello @Naveen-Yaragall, this is a known issue that we're working on. In the meantime, if the utterance was not successfully added please attempt to add the utterance after at least 15 minutes.

[2017-09-20 17:54] premchandpl commented on #58
@stevengum97 I have one composite entity with multiple children called "PayableTotal" and I am giving the utterance as

Payable Total entity - **PayableTotal consists of: [ComparisonExp, money, Than]**

1. get the top 5 contracts which are greater than $1k
2. can you help me find top 5 contracts which greater than $500K

get the top [ $contractcount ] contracts which are { [ $ComparisonExp ] [ $Co

[2017-09-20 18:06] stevengum97 commented on #58
@premchandpl, when I tested my application it's working... Can you use your first example:

in a query and then copy paste the results from a direct endpoint call (i.e. taking the endpoint generated from when you publish your app and pasting it into your browser with the query string after the endpoint)?

[2017-09-20 18:36] premchandpl commented on #58
@stevengum97 I tried with this rest api

https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/xxxxx?subscription-key=xxxx&timezoneOffset=0&verbose=true&q=get the top 5 contracts which are greater than $1k

and this is the response I got

{
  "query": "get the top 5 contracts which are greater than $1k",
  "topScoringIntent": {
    "intent": "SearchContract",
    "score": 0.9956526
  },
  "int

[2017-09-20 18:39] premchandpl commented on #58
@stevengum97 In the "Interactive Testing" mode it is recognizing the composite entities

![image](https://user-images.githubusercontent.com/3001352/30661262-4c2c6f8e-9df8-11e7-8832-778ecbf6f367.png)

But through REST api, composite entities are not getting returned

[2017-09-20 18:40] stevengum97 commented on #58
Thank you for providing this, I'm assuming your train and published models are the same as your endpoint suddenly stopped providing the composite entities?

[2017-09-20 18:46] premchandpl commented on #58
@stevengum97 We are training and publishing the same model. Our model id is - 2da2e73c-a789-45d0-bb39-6623e7a05ade and when calling the rest api, I am providing the same model id. Let me know if we are doing something wrong?

[2017-09-20 21:49] premchandpl commented on #58
@stevengum97 Exporting and importing the luis model has solved the issue. Thanks steven for all the help

[2017-09-20 21:49] #58 closed

[2017-09-23 18:34] peterbozso opened #59 "Target .NET Standard 2.0"
Hi all,

Are there any plans to target .NET Standard 2.0 with this package instead of keeping it as a PCL? If not, then why? :) I am more than glad to help with a PR if that's the only blocker.

Thanks,
Péter

[2017-10-06 11:21] MadhuAcc12 opened #60 "Not able to configure keys in LUIS"
How to publish in the new UI of Luis? The tenant id is not getting listed in my account. I have generated keys in the azure portal but not able to configure it in LUIS. Any help on this?

![image](https://user-images.githubusercontent.com/30169639/31275811-49853b74-aab6-11e7-9c53-b08522b6ef20.png)

[2017-10-13 15:00] JPThorne commented on #60
You have to be logged into LUIS with the same account you're using in the Azure Portal.

But. This is also an issue for us in that our selected settings are not persisted and not always accessible.

[2017-10-13 15:01] JPThorne opened #61 "LuisResult.cs ParseEntityArrayToDictionary Errors"
LUIS is returning data that causes errors to be thrown in LuisResult.ParseEntityArrayToDictionary().

Please fix?

[2017-10-13 15:02] JPThorne commented on #56
The UI does not persist the setting.

[2017-10-16 10:55] willemodendaal commented on #61
Pull request ready with a fix for this: https://github.com/Microsoft/Cognitive-LUIS-Windows/pull/62

[2017-10-22 09:04] ShujaathKhan opened #63 "After integration of Azure LUIS, LUIS reconizer in nodejs unable to get entities"
Free account of LUIS was working fine, was able to get intents and entities also, but post integration of LUIS Azure account the end of APIhas changed and also we're not able to get any of the entities.
LuisRecognizer.js throws all of a sudden new exceptions.
LUIS api gives empty array for entities

Left no where in middle now, can't go back and new api is not working as expected.
Team request to

[2017-10-24 11:50] mynksthi opened #64 "Increasing the predicted intents for syntax words"
How can i increase the prediction intent for the syntax words like order, ordering ,orders ?
I have tried by defining them , in list entity (synonym)
also i have tried with the add phrase feature
How can increase the prediction for it upto minimum 0.7 ?

Thanks

[2017-10-24 11:53] JPThorne commented on #64
In our experience, entities are a decent way, phrase lists too. How much training have you done? i.e. how many utterances do you have mapped to your intents? How many intents do you have?

[2017-10-24 11:59] mynksthi commented on #64
Thanks for your reply
i am on a very initial phase of it utterances defined 14-20
intents 6
entities 8-9

[2017-10-24 12:03] JPThorne commented on #64
20 utterances per intent is not too bad; around 50 to 100 is better, so maybe try upping the number of utterances per intent?

also, the similarity of the utterances can bring the score down. i.e. if your utterances all/some have fairly similar structures we found that LUIS get's 'confused' and scores lower.

we treat a score of below 0.5 as being 'too low' & then handle it in code.

[2017-10-24 12:07] mynksthi commented on #64
Where i should define the similiar words
1. - order , orders , ordering
or
2. Shipment , supply , export
in utterances ,   features to add phrase or , in entity (list)synonyms

[2017-10-25 18:46] stevengum97 commented on #37
The current timeframe for datetimeV2 support for pt-br are by the time LUIS reaches GA.

[2017-10-26 04:17] mynksthi opened #65 "Compound Sentences & Negative Sentences by user in LUIS"
1.  How can i deal with the compound sentences in LUIS ?
for example
Book me a flight in New york and give me the review of hotels in New York ?
(this sentence is of two intents booking flight & hotel review, how can luis reply for both)
2.  How can i deal with the negative querries from user ?
for example
Tell me the items Which are not in the stock ?
(if i have an intent STOCK this querry will t

[2017-11-01 06:07] gcsonka opened #66 "LUIS Result is different in Web UI and Web service call"
Background:
I have a Bot that is using LUIS calling the API directly with my paid Azure subscription.
I have a number intents with a varying number of utterances (up to 600).

Issue:
I see an issue occasionally when the LUIS Web UI (Test and Intents screen) correctly predict an intent, but my client using the API call incorrectly gets something else.

When I clicked on the Luis API URL above the p

[2017-11-01 08:13] jagadishg opened #67 "LUIS Bing Spell Checker Stopped Working"
I have set both verbose and spellCheck flags to true. It doesn't make any difference.

`verbose=true&spellCheck=true`

It was working fine couple of weeks before (Mid of Oct 17). It just stopped working recently.

I noticed that [Luis.ai ](url) page does not have "My Keys" section anymore. What happened to it?

Any help?

[2017-11-10 18:09] fanidamj commented on #46
May I know if you still have this issue?

[2017-11-12 16:16] allantargino commented on #46
Hey @fanidamj . I opened this issue in order to report some gaps on LUIS SDK.
I've already sent a Pull Request addressing that (#53)

[2017-11-13 09:08] TiMeJuMp commented on #67
It is also not possible to activate it in the constructor of the LuisClient class.
Do you prefer a new overloading?

public LuisClient(string appId, string appKey, bool verbose = true, string domain = "westus");
public LuisClient(string appId, string appKey, string baseApiUrl, bool verbose = true, string domain = "westus");

[2017-11-16 10:28] DineshKaushik27 opened #68 "Publishing issue"
Hi , its a wierd problem i can only publish my app only once or twice. After some time the publish button becomes non functioning or gets disabled. I don't know what is the problem.

[2017-11-26 22:26] pvanaarde opened #69 "Cross-intent entity matching"
Hi,

We have an issue where our LUIS model doesn't identify entities as expected. The problem is that even though the correct intent is recognized the entity identified is from an unrelated intent. The detailed scenario below...

We have an intent called **_ContactProfile_** with entities related to contact information, for example, name, email, surname, etc.
An utterance that we're testing with i

[2017-11-30 01:34] DL-LiveTiles commented on #69
Any feedback on this?

[2017-12-06 22:51] yfan183 opened #70 "LuisResult only returns one intent"
In the endpoint, it returns a top scoring intent and a list of intents, however in the code, LuisResult object only returns a one intent instead of a list of intents

[2017-12-12 12:14] BrainCrumbz opened #71 "docs(readme): missing link to LUIS application JSON file"
In project readme, chapter [Intent Router and Handlers mode](https://github.com/Microsoft/Cognitive-LUIS-Windows#intent-router-and-handlers-mode), there's a wrong/missing link:

[2017-12-17 01:02] bergmeister commented on #51
Still not working since I cannot edit the key to insert the bing key in the endpoint uri.

[2017-12-18 07:05] stahaquadri commented on #42
I am looking for the same solution

[2017-12-19 13:54] maximilianorp opened #72 "Batch Testing Exception"
After adding two datasets and running it for the first time the application throw an exception in the console and the frontend stop working.

Now I am unable to run batch testings.

Here is a screenshot of the errors.

![18-12-2017 05-28-28 p-m-](https://user-images.githubusercontent.com/34683268/34160201-c0dc1c78-e4aa-11e7-99ab-02940ffdedd0.jpg)

[2017-12-19 19:11] maximilianorp commented on #72
I tested it in Firefox and works fine. But not in Chrome (63.0.3239.108 64 bits).

[2017-12-23 20:34] megancooper commented on #42
The issue was on Microsoft's side I believe. Try sending a help request from the site and they should get back to you within 24 hours.

[2018-01-08 14:25] hpascaud commented on #54
Hi, I don't know if @Wedeo95 is talking about entities but it seems that LUIS is not able to understand that a word, with a special character like "-", must be seen completely as the content of an entity.
Only the first part of the word is understood by LUIS as the content of the entity.

I cannot see how to tell it to accept this kind of particularity, knowing that I can't use phrase lists as I w

[2018-01-08 16:09] hpascaud commented on #54
I am sorry, finally that works but it took me some time to understand.
The way to do is not so instinctive.
With the LUIS interface, it is possible to make understand to an utterance the character "-" by selecting the first part of the word, then selecting the "-" and at last the final part. After that, you are able to say which entity it is relative to.
You must not try to select the whole word w

[2018-01-10 14:57] MohammedAbdulMateen opened #73 "LUIS API—Free says 10,000 transactions free per month but after 1,000 calls only the quota is exceeded"
In the LUIS pricing page given [here](https://azure.microsoft.com/en-us/pricing/details/cognitive-services/language-understanding-intelligent-services/) it says,

LUIS API—Free 10,000 transactions free per month

but I receive an email saying that I am about to approach my quota limit and the limit is 1,000 API calls and this isn't the first time it happened, could you please tell why is it so and

[2018-01-16 08:01] vijaysaimutyala commented on #41
@mahmoudahmedarafa Were you able to find out the reason and possible solution for this?

[2018-01-18 11:18] esalcedoo commented on #37
Hi! As far as i know LUIS have officially gone GA. Is there any updates on this topic?

[2018-01-18 11:24] tellarin commented on #37
Hi @esalcedoo, PT-BR is now fully supported in DateTime since last December.
This issue was tracked in the Recognizers-Text repo (https://github.com/Microsoft/Recognizers-Text/issues/11).

If you find any issues, please report them there. Thanks!

[2018-01-18 11:25] tellarin commented on #37
@stevengum97, we can close this one.

[2018-01-18 11:32] tellarin commented on #55
This issue is tracked here: https://github.com/Microsoft/Recognizers-Text/issues/212. Currently under planning.

[2018-01-18 11:51] tellarin commented on #27
DateTimeV2 includes resolutions.
@stevengum97, can we close this issue?

[2018-01-24 18:00] #37 closed

[2018-01-24 18:02] stevengum97 commented on #34
Since a valid answer was provided, I'm closing this issue. If you have any questions please feel free to @-mention me directly.

[2018-01-24 18:02] #34 closed

[2018-01-24 18:05] #27 closed

[2018-01-24 23:13] stevengum97 commented on #36
@tsahi, sorry for the delay in our response! Right now the new Runtime (Prediction, like this SDK) and Programmatic (Authoring) SDKs are [pending](https://github.com/Azure/azure-sdk-for-net/tree/psSdkJson6/src/SDKs/CognitiveServices/dataPlane/Language/LUIS) a NuGet release from the Azure SDK for .NET team. After those are released we'll be redirecting from this repository to [azure-sdk-for-net](ht

[2018-01-24 23:13] #36 closed

[2018-01-25 09:07] tsahi commented on #36
@stevengum97 , does that mean this SDK is essentially deprecated, and we'll have to move to the Azure SDK for .NET?

LIke many, I'm using LUIS in a bot I'm working on. If I move my implementation to the MS Bot Framework, is this something I have to consider, or is there a built-in access to LUIS in Bot Framework?

[2018-01-30 12:39] mmakwana opened #74 "How can i add multiple Owners for my LUIS app?"
I can add multiple collaborator. But unable to add multiple Owner.
any solution?

[2018-02-04 15:38] Prybe opened #75 "utterance "Deutschland""
Hi,

Simple question...
I created an intent. Now i want to add some sentences.
When I type in the word "Deutschland" it is splitted to "Deutsch land"
But Why??
Deutschland is 'one' word!

regards
Martin

[2018-02-06 18:24] webtechy commented on #22
Same issue here. Any progress?

[2018-02-09 00:18] Bazorpazorps commented on #69
We're still having this issue some months on now.  Here are some example utterances using the same model months apart:

## Input
1. _"find fred smith's contact details"_
2. _"get fred's address book"_
3. _"can you get fred's contacts for me"_

## Expected LUIS Output
1. "find [$ContactName]'s contact details" (ContactProfile intent)
2. "get [$ContactName]'s address book" (ContactProfile intent)
3.

[2018-02-09 14:39] weerdm commented on #23
Same issue.. Used an Azure key, the correct region and waited for 30 min. Still saying the key is invalid.

[2018-02-09 17:55] v-geberr commented on #23
@weerdm Did you assign the new key from azure in your app's publish page?

[2018-02-09 17:57] Lorempn2 commented on #23
Turns out i had to use the programmatic keys when managing the apps. When quering, you need to use the Azure key.

[2018-02-10 14:57] SibaprasadM commented on #35
After putting necessary entries in 'Value (Required) ' Field, you need to hit Enter . This will enable Save , Add all and Recommend buttons.

[2018-02-14 11:01] jgarciadeltoro commented on #73
Happened to me as well...

[2018-02-14 17:13] v-geberr commented on #73
Please make sure you are using your programmatic key, in the LUIS website, for authoring calls onlyt and that all endpoint calls are made using a LUIS subscription key. There is a free F0, and a paid, S0, tier. https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/luis-boundaries#key-limits

[2018-02-15 22:38] Stikemanley opened #76 "Distinguishing between Intents when the same entity type occurs in both"
# Distinguishing between Luis Intents when the same entity type occurs in both

## Issue
I'm having trouble with my LUIS model distinguishing between two intents, a generic search intent which leads off to a query of external systems and a person lookup which leads to a database query.
___
## How I think it should work
I have two intents, **Generic Search** and **People Lookup**
I have three entit

[2018-02-21 13:19] Kv-wood commented on #66
We are facing similar issues where the Test Console from LUIS Portal is returning the correct Intent+Score for an utterance but the Web API call is returning a different result (via Postman).
We have 2 LUIS Applications (French and Dutch), each with around 90 intents and 700 utterances.
Fortunately we were able to fix it by adding a new utterance to the Intent, train and publish the changes then t

[2018-02-22 13:17] benc-uk commented on #23
I'm getting a 401 when I use any key generated from Azure. I've added the key to my app in eu.luis.ai portal, it's there in the list. When I use that key in [REST API](https://westeurope.dev.cognitive.microsoft.com/docs/services/5890b47c39e2bb17b84a55ff) it never works, always returns 401.

If I try the starter key, then it is fine.
This has to be a bug

[2018-02-23 16:34] v-geberr commented on #23
Hi @benc-uk, Can you tell me your path through the documentation? Where you started and where you went back to when you were blocked with the keys? Thx, Dina

[2018-02-27 09:25] mmakwana commented on #74
Though i am able to add more than one Collaborator , Can I also add multiple owners

[2018-02-28 00:08] qs-wang commented on #23
Same issue.  I try to make it clear here
1. Call the api to provision the apps, etc.  I have to use the programming key.  For example the

 {"method":"POST","uri":"https://australiaeast.api.cognitive.microsoft.com/luis/api/v2.0/apps/{appid}/versions/0.1/customprebuiltdomains","versionId":"0.1","headers":{"subscription-key":"whatever"},"body":{"domainName":"Camera"}}
However this is key has the lim

[2018-02-28 08:05] Lorempn2 commented on #23
Yes, this is poorly documentented. Took me some hours and a support ticket to figure it all out. In summary you have to use the programmatic api to manage the app and the Azure key to query the app.

To me it is still not clear what the limits of the programmatic key are. The docs are stating something like 1.000.000 a month but apparently there is also some undocumented rate limiting going on..

[2018-02-28 15:55] v-geberr commented on #23
This [doc page ](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/manage-keys) might help with the difference between authoring and endpoints. This [doc page](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/luis-boundaries#key-limits) explains the key limits.

[2018-02-28 16:55] Lorempn2 commented on #23
Is does not explain the rate limit of the starter/authoring key

[2018-02-28 17:06] v-geberr commented on #23
It is 5 requests per second.

[2018-02-28 20:43] #49 closed

[2018-02-28 20:43] #50 closed

[2018-02-28 20:43] #51 closed

[2018-02-28 20:43] #52 closed

[2018-02-28 20:43] #54 closed

[2018-02-28 20:43] #55 closed

[2018-02-28 20:43] #56 closed

[2018-02-28 20:43] #57 closed

[2018-02-28 20:43] #59 closed

[2018-02-28 20:43] #60 closed

[2018-02-28 20:43] #61 closed

[2018-02-28 20:43] #63 closed

[2018-02-28 20:43] #64 closed

[2018-02-28 20:43] #65 closed

[2018-02-28 20:43] #66 closed

[2018-02-28 20:43] #67 closed

[2018-02-28 20:43] #68 closed

[2018-02-28 20:43] #69 closed

[2018-02-28 20:43] #70 closed

[2018-02-28 20:43] #71 closed

[2018-02-28 20:43] #72 closed

[2018-02-28 20:43] #73 closed

[2018-02-28 20:43] #74 closed

[2018-02-28 20:43] #75 closed

[2018-02-28 20:43] #76 closed

[2018-02-28 20:44] #18 closed

[2018-02-28 20:44] #19 closed

[2018-02-28 20:44] #20 closed

[2018-02-28 20:44] #22 closed

[2018-02-28 20:44] #23 closed

[2018-02-28 20:44] #26 closed

[2018-02-28 20:44] #28 closed

[2018-02-28 20:44] #29 closed

[2018-02-28 20:44] #30 closed

[2018-02-28 20:44] #32 closed

[2018-02-28 20:44] #33 closed

[2018-02-28 20:44] #38 closed

[2018-02-28 20:44] #39 closed

[2018-02-28 20:44] #40 closed

[2018-02-28 20:44] #43 closed

[2018-02-28 20:44] #44 closed

[2018-02-28 20:44] #45 closed

[2018-02-28 20:44] #46 closed

[2018-02-28 20:56] Stikemanley commented on #76
Is there an issue with this post? My question remains, I would like this
post open so it has an opportunity of being seen by the community.

Thank you,

On Wed, Feb 28, 2018 at 3:43 PM, Chris Mullins <notifications@github.com>
wrote:

[2018-02-28 22:44] stevengum97 commented on #76
@Stikemanley what this stems from is that the **intent classification** doesn't see that `"Stevie Wonder"` is a **`People`**-type entity. Entity extraction and intent classification aren't directly coupled by the models; therefore if you add 'Franklin Delano Roosevelt', 'Barrack Obama', 'Bill Gates', 'Satya Nadella' as People-type entities and add these specific utterances (just the names) as the

[2018-02-28 23:10] Stikemanley commented on #76
Amazing,

Thanks for the response guys, I'll look into implementing some of these
changes in our model.

Best,

On Wed, Feb 28, 2018 at 5:44 PM, Steven Gum <notifications@github.com>
wrote:

[2018-03-01 08:37] narenkv commented on #33
hope this is resolved?

[2018-03-09 09:42] bebenekmarcin opened #79 "Query Luis staging slot and LuisClient"
Currently I'm using Microsoft.Cognitive.LUIS 2.0.2 where is LuisClient class but where there is no option to query staging slot. I see in commit history that you are preparing a new version 3.0.0 but this is not available in nuget yet. How I could query staging slot? If this will be possible in version 3.0.0 and when you are planning to release this to nuget?

[2018-03-19 08:32] tinuCoder opened #80 "Not able to Add key for NorthEurope Region in my LUIS App"
Hi,

I have my Bot service deployed in North Europe region and i also created a luis app on portal.azure for NorthEurope location. While i log into LUIS.ai site with the same credentials i am unable to add my tenant keys. PFB screenshots

![image](https://user-images.githubusercontent.com/25457761/37585027-18c65c52-2b71-11e8-9b54-3b7f2d19089a.png)

![image](https://user-images.githubusercontent.co

[2018-03-19 13:55] v-geberr commented on #80
Use https://eu.luis.ai/ for authoring and publishing in Europe.

[2018-03-20 06:54] tinuCoder commented on #80
Hey @v-geberr thanks alot for this.

I totally forgot about the domain and ....

Well but thanks to you.

[2018-03-20 06:54] #80 closed, assigned to nobody

[2018-04-14 20:17] ma3yta opened #81 "F# Type Provider"
Good to have type provider as described in https://stackoverflow.com/questions/39036052/whats-a-good-way-to-write-a-f-type-provider-for-microsofts-luis
[code]

[2018-05-15 22:33] #81 closed, assigned to nobody

[2018-06-18 17:04] 14geronimo opened #82 "Enabling Bing Spell Check on a LUIS app"
There is a lack of clarity over the approach to enable Bing Spell Check with a LUIS app, assuming we use the packages Microsoft.Bot.Builder.Luis.* in a C# web application, classes LuisModel and LuisDialog in particular.

Reading through the litterature online, it looks like there was an old method with "My key" and "External Keys" on LUIS UI, as described in issue #51, to which most other posts on

[2018-06-22 06:18] ghost opened #83 "Unable to Link Azure provisioned services to LUIS / QnA Maker Webservice"
Hi,
I am not sure whether this is the right place to ask but I am hitting an issue with linking the resources provisioned via the Azure portal to LUIS or QnA maker related webservices

For instance:
![capture](https://user-images.githubusercontent.com/31059904/41760709-b54512fe-762f-11e8-986e-5aa68a99f4ca.PNG)

I am logged into both portals via the same Microsoft Account (MSA) but the list of Azur

[2018-06-26 23:31] CalvinFengDatacom opened #84 "How do I extend the max utterance of each intent"
Hi, I would like to know what is the maximum number of utterance for an intent. And is there a way to upgrade the number of utterance? Should I upgrade my service?

[2018-06-27 00:20] stevkan commented on #84
Hi @CalvinFengDatacom,

You can refer to this [doc ](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-boundaries)that details the LUIS boudaries.

[2018-06-27 01:08] CalvinFengDatacom commented on #84
@stevkan Thanks, I can see there are maximum 15,000 utterances per application, but is there a limitation of how many maximum the utterance could be in one intent?

[2018-06-27 21:55] stevkan commented on #84
@CalvinFengDatacom,

The max appears to be about 1000 per intent. However, as suggested [here](https://stackoverflow.com/questions/41282430/ms-luis-ai-maximum-number-of-utterances-per-intent-app), you might want to consider the need for a high number of utterances and if there is a way to streamline the overall process (see the comments to the provided answer).

[2018-06-27 21:58] CalvinFengDatacom commented on #84
@stevkan Cool, thanks. We can discuss the solution base on these comments. I will close this bug soon.

[2018-06-27 21:58] #84 closed, assigned to stevkan

[2018-07-05 15:57] Sakshams commented on #42
I am still seeing this issue using the rest apis

[2018-07-23 15:12] fplaten opened #85 "Dynamically create dialogues"
Hey guys,

I'm using the LUIS SDK to create dialogs for a chatbot and everything is working fine so far.

I now thought about creating form dialogues dynamically from json, but as far as I unterstood, I'll always need to rebuild the application? Additionally I need to create some references in code (the actual class referencing the dialog.json and a method to call that class).

Are those assumptio

[2018-07-24 06:24] vipulkelkar commented on #42
I am also experiencing this issue today. I created a new intent and a composite entity. Started training the bot and it is in a stuck state.

[2018-07-24 15:57] tsuwandy commented on #42
I'm alerting the team, thank you for letting us know.

[2018-07-24 16:21] tsuwandy commented on #42
Hi, this looks to be a UI bug on the portal.  Training actually completed successfully.   Train button is green and accessing app dashboard for the first time shows the last successful training time.  The UI will keep showing the message "Queued for training..." unfortunately, team is aware of this issue and working on a fix.

Please let us know if you are seeing otherwise.   Thank you!

[2018-07-25 01:24] tsuwandy commented on #42
Issue should be fixed now.  Please comment otherwise.

[2018-07-25 03:58] vipulkelkar commented on #42
i still see this issue. Yesterday, I had to create a new LUIS app and train it. Training for that new app just worked fine. But the one for which I reported the issue still gets stuck whenever I start the training.

[2018-08-20 05:25] singhsurya opened #86 "Bing spell checker in my LUIS makes it in wrong way"
Hi there,

I am using LUIS with bing spell checker. When I provide a sentence "Where to find it", the bing spell checker updates it to "wheretoget.it". I don't see any way to overcome this. I don't want to train this sentence to my intent as it doesn't mean anything in my context. Do you have any idea to resolve this problem?

[2018-11-22 08:46] kisnam opened #87 "Issue with builtin.personName entity"
Hi,

I am having an issue where in LUIS is unable to identify multiple person names in an utterance.
More relevantly when the name is mentioned after "and or ," in a phrase.

**For Eg:**
When user types, "Schedule a meeting with Bob and Lisa", LUIS recognizes only Bob a builtin.personName where in Lisa is not recognized at all. Also separating names with comma didn't work either. If I change the o

[2018-11-29 16:38] zanechua opened #88 "Can LUIS handle '#'?"
Trying to see if LUIS can handle the special character '#' but it doesn't even seem to be showing up in the LUIS endpoint utterances

[2018-12-04 21:52] stevkan commented on #85
@fplaten, are you still needing help on this issue or were you able to get it resolved?

[2018-12-04 22:02] stevkan commented on #86
@singhsurya, please post this question on the Bing Spell Check API Uservoice channel, located [here](https://cognitive.uservoice.com/forums/598195-bing-spell-check).

Closing as it is not an issue with LUIS.

[2018-12-04 22:07] #86 closed, assigned to stevkan

[2018-12-05 03:20] stevkan commented on #87
@kisnam,

The likely culprit is a lack of utterances (variations) for the personName entity. Docs suggest no less than 5, though more will always produce better overall results. This answer on [Stack Overflow](https://stackoverflow.com/questions/52650025/luis-intent-not-returning-the-entire-value-of-the-entity-with-space/52656368#52656368) provides more information that should help you.

As for th

[2018-12-05 03:20] #87 closed, assigned to stevkan

[2018-12-05 04:17] stevkan commented on #88
@zanechua, the "#" (hash) character is typically read as an anchor element in the path of a URL. As such, you need to escape the hash as "%23" for LUIS to read it as the special character. For example,

https://{region}.api.cognitive.microsoft.com/luis/v2.0/apps/{appId}?subscription-key={subscriptionKey}&timezoneOffset=-360&q=%23vegas having a lot of fun

resolves to

https://{region}.api.cognitiv

[2018-12-05 04:17] #88 closed, assigned to stevkan

[2018-12-05 04:28] zanechua commented on #88
Ah. Thanks! I guess it makes sense to use the encoded version of it.

Yeah. That's my intended use case as well

[2018-12-10 20:14] stevkan commented on #85
Closing due to lack of response.

[2018-12-10 20:14] #85 closed, assigned to stevkan

[2018-12-13 20:42] kendomen commented on #73
I had to update to the subscriptionKey using this command:

msbot update luis --appId <appId> --subscriptionKey <subscriptionKey> --secret “<botSecret>“

[2019-01-03 08:49] neetgupta7 opened #89 "Does Microsoft use customer data entering LUIS for service improvement?"
Hello
Does Microsoft use customer data entering LUIS for its own cognitive service improvement. There is no definite article/page which mentions the same.

[2019-01-31 11:32] sanjeevgaut commented on #31
@oleg-bronzhaiev Thanks. I have changed as production while publishing luis app.
 It helped and issue gone.

[2019-03-28 06:44] sunilsoniudaipur commented on #54
how we can ignore punctuation marks from the utterances like (? . , !) as they impact on the predictions. is there any way form which we can configure Luis to ignore punctuation marks.

[2019-03-29 20:11] videepthMSFT commented on #23
@v-geberr  is there no exhaust limit for this starter key when I use it for rest api calls using the rest api portal or postman?

[2019-05-02 11:42] isathish commented on #23
404
We're sorry! The page you are looking for can not be found. That means we either broke something or the page you requested does not exist.

[2019-07-25 10:41] ligadata-ibrahim commented on #18
any idea how to set a parameter for bing spell check in the LUIS URL?

[2019-07-29 21:29] gouravbeyondBGCM opened #90 "getting error while trying to install Microsoft.Bot.Builder.AI.Luis version 4.5.1"
getting following error while trying to install Microsoft.Bot.Builder.AI.Luis version 4.5.1

Severity	Code	Description	Project	File	Line	Suppression State
Error	Could not install package 'Microsoft.Bot.Builder.AI.Luis 4.5.1'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.7.1', but the package does not contain any assembly references or content files t

[2019-08-27 14:18] omaremadeldin commented on #54
@sunilsoniudaipur You can use utterance normalization which documented over here: https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-concept-utterance#utterance-normalization

[2019-09-20 15:23] xtianus79 opened #91 "When using Chrome web browser on mac the bing spell check entry into the dashboard is not working for testing"
per this documentation

https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-interactive-test#view-bing-spell-check-corrections-in-test-panel

The key entered doesn't seem to work because as the documentation states by user session it doesn't seem to hold the key for an entire browser session as when I enter the key and make or remake a question from the test panel the key is gone w

[2019-11-19 10:22] c-jarp opened #92 "Migration to the authorization azure resource"
In order to automate deployments, we use a specific account user to use the API, However, with the new changes coming, migration is mandatory by the next year. In order to have the automation on the deploys, we use the API to check if certain models already exist, if they exist update and publish ,otherwise create and publish.

So, even though you create an azure authoring resource and get an auth

[2019-12-05 13:07] markbosshard commented on #79
You can query the staging slot by passing the parameter luisIsStaging = True in the endpoint query string. See docu here: https://microsoft.github.io/NLU.DevOps/docs/LuisEndpointConfiguration.html

I am not sure where you build your endpoint String, but I am sure you will find a way to adapt it.

[2019-12-05 13:29] markbosshard commented on #79
If you are in the Bot Framework Backend v4, the answer is here for NodeJS, and C# will be literally almost the same code.

https://stackoverflow.com/questions/55395397/how-to-change-luis-application-for-a-chatbot-in-the-bot-file

[2020-03-24 06:39] Leslie-Wong-H commented on #60
The same problem -- no tenant item listed, just blank space.

![image](https://user-images.githubusercontent.com/27696701/77395428-8207bf80-6ddc-11ea-865f-e8394586d7aa.png)

Signed in with GitHub account linked with Microsoft account, and already created a Language Understanding Authoring (LUIS) service at Azure portal.

The data at Azure does not sync with the luis.ai side?

Anything that I did w

[2020-04-06 10:01] HaneefCoder commented on #42
Please check your application training status.
https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/{app_id}/versions/1.0/train
Headers :-
Ocp-Apim-Subscription-Key : {}

[2020-04-28 10:14] akshaykumarepicor opened #93 "Not able to login to luis.ai"
Luis site (luis.ai) loads but when I try to login I am getting redirected to https://api.luis.ai/webapi/v2.0/auth/signin?redirect=https://api.luis.ai/Identity/SignIn and error - "Page isn't responding"

[2020-04-28 10:38] PreethyArul opened #94 "Unable to login Luis.ai"
Luis site (luis.ai) loads but when I try to login I am getting redirected to https://api.luis.ai/webapi/v2.0/auth/signin?redirect=https://api.luis.ai/Identity/SignIn and error - "Page isn't responding"

[2020-05-29 06:47] careernavigator opened #95 "Dispatcher refresh has limit of 15 thousand utterance."
It seems LUIS dispatcher refresh has the limit of 15 thousand utterances. it is not taking beyond this limit. Can we increase this limit? currently it is randomly removing utterances beyond 15k randomly and due to that dispatcher is not returning expected intent.
Is there any way to increase dispatcher limit? or how do we handle it so that dispatcher returns correct intent?
currently dispatcher is

[2020-07-02 09:47] podgito opened #96 "Cannot create intent on Luis.AI portal"
Attempting to add an intent to an existing app through the web UI does nothing - inspecting the console browser I see the following error:

{"error":{"code":"401","message": "The Models_CreateNewIntent_Conversations Operation under LUIS Programmatic APIs v4.0-preview is not supported with the current subscription key and pricing tier LUIS.Authoring.F0."}}

[2020-07-02 09:55] mindmodel commented on #96
I'm getting the same error.  Started yesterday (7/1/20).

Details here

https://twitter.com/mindmodel/status/1278432057119604736

Adam Leffert

[2020-07-02 09:57] mindmodel commented on #96
To summarize, the Luis portal requires a paid tier (not free) authoring resource, but I can't find a way to create one or revise an existing authoring resource to use the paid tier (S0).

Having migrated my Luis resources to Azure, I am now locked out of the Luis portal.

I've been using Luis for months, so I understand the basics.

My app (chat bot) that uses the Luis recognition resource still w

[2020-12-17 08:06] JorJames1 opened #97 "Dispatch tool"
Hi,
I have an issue if I want to create the dispatch tool. I want to create a dispatch with three LUIS applications. Everything works well but if I want to create it, the following error pops up.
"ERROR
Exceeded entity limit for Dispatch"
I thought I can use the dispatch tool if I want to use more entities. How can I solve the issue? Do I have to use a LUIS container?
Appreciate your help.

[2022-07-20 08:40] ujja opened #99 "Unable to login Luis.ai"
Can't login to LUIS. After a succesful login it redirects me back to luis.ai. If I push the login again, nothing happens. (no login process)

[2022-09-22 14:33] microsoft-github-policy-service[bot] opened #101 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-11-28 19:12] #101 closed, assigned to nobody